h1,p
{
    text-align:center
}


main {
    width: 50%;
    background-color: rgb(16, 21, 54);
    font: Eloquia Text Bold;
    margin-right:auto;
  }

.text{
    color:white;
}

  .subtext{
    color:rgb(177, 169, 169);
  }

.pic{
    width:50%;
    align-self: right;
  }

.part1{
    text-align: left;
}

.part2{
    text-align: center;
}

.part3{
    text-align: right;
}